 /* 1. Reset Browser style
-------------------------------------------------------------------------- */

 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline
 }

 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
   display: block
 }

 body {
   line-height: 1
 }

 ol, ul {
   list-style: none
 }

 blockquote, q {
   quotes: none
 }

 blockquote:before, blockquote:after, q:before, q:after {
   content: '';
   content: none
 }

 table {
   border-collapse: collapse;
   border-spacing: 0
 }

 /* Make box-sizing "border-box" as default */

 html {
   box-sizing: border-box;
 }

 *, *:before, *:after {
   box-sizing: inherit;
 }

 /*2.Main tags
*******************************/

 html {
   font-size: 16px;
   scroll-behavior: smooth;
 }

 body {
   font-family: 'Roboto', sans-serif;
   font-size: 1em;
   font-weight: 300;
   line-height: 1.5em;
   /*
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    */
   background-color: #f5f5f5;
 }

 h1, h2, h3, h4 {
   font-family: infected;
   ;
   font-weight: 500;
 }

 h1 {
   font-size: 1.8em;
   margin-bottom: 0.5em;
   /*real margin in px*/
 }

 h2 {
   font-size: 1.5em;
   font-weight: 400;
   margin-bottom: 0.3em;
   /*real margin in px*/
 }

 /*LINKS*/

 a {
   text-decoration: none;
   color: #178ef5;
   outline: none;
   transition: color .5s ease, background .5s ease;
 }

 a:hover, .ul:hover {
   color: yellow;
   cursor: pointer;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 /*PARAGRAPHS*/

 P {
   margin-bottom: 1em;
 }

 strong {
   font-weight: 500;
 }

 em {
   font-style: italic;
 }

 /* main  */

 

 body {
   background-color: black;
 }

 /* header Stuff */

 .header-editor {
   background-color: black;
   position: fixed;
   z-index: 1;
   width: 100%;
 }

 /* main stuff */

 .container {
   position: relative;
   width: 100%;   
 }

 .container article {
   flex-basis: 30%;
 }

 .image {
   display: block;
   /* width: 100%; */
   height: auto;
 }

 /* .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } */

 /* .overlay {
    display: flex; 
   
  } */

 .row {
   /* content: ""; */
   display: flex;
   justify-content: space-around;
   /* clear: both; */
 }

 /* FOOTER STUFF */

 .sponsors-icon {
   background-color: blue;
   display: flex;
   height: 7em;
   justify-content: center;
 }

 .sponsors-icon li {
   flex-basis: 20%;
   min-width: 20%;
   transition-property: transform;
   text-align: center;
   display: block;
 }

 .sponsors-icon li :hover {
   transform: scale(1.1);
   transition-duration: .8s;
   /* display: flex; */
 }

 .sponsors-icon img {
   display: initial!important;
   width: auto;
   height: 100%;
 }